@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Font */

//  Main Colors

$black : #000000;
$terquoise: #77CEDD;
$terquoise2: #00A5C7;
$red: #C7376D;
$green: #C2D335;
$purble: #65338D
